<div class="popupContainer">
  <button class='btn-close' (click)="closePopupWindow.next()"></button>
  <Form class="popup_employee-form" [formGroup]="dataEditingForm" (ngSubmit)="save()">
    <div>
      <input class="popup_employee-element" type="text" formControlName="name">
      <input class="popup_employee-element" type="text" formControlName="surname">
      <input class="popup_employee-element" type="text" formControlName="patronymic">
      <input class="popup_employee-element" type="tel" formControlName="phoneNumber">
    </div>
    <button appStyle [dStyles]="{borderColor:'#3B82F6', backgroundColor:'#3B82F6'}" class="popup-btn-save"
      type="submit">Сохранить</button>
  </Form>
</div>
