<a [routerLink]="['/login']">Вход</a>
<a [routerLink]="['/registration']">Регистрация</a>
<form
    [formGroup]="registrationForm"
    (ngSubmit)="submit()"
>
  <div>
    <input
        class="input"
        id="companyName"
        type="text"
        formControlName="companyName"
    />
    <app-validation-message
        [control]="registrationForm.controls['companyName']"
    ></app-validation-message>
  </div>
  <div>
    <input
        class="input"
        id="email"
        type="email"
        formControlName="email"
    />
    <app-validation-message
          [control]="registrationForm.controls['email']"
    ></app-validation-message>
  </div>
  <div>
    <input class="input"
           id="password"
           type="password"
           formControlName="password"
    />
    <app-validation-message
        [control]="registrationForm.controls['password']"
    ></app-validation-message>
  </div>
  <div>
    <input
        class="input"
        id="passwordRepeat"
        type="password"
        formControlName="passwordRepeat"
    />
    <app-validation-message
        [control]="registrationForm.controls['passwordRepeat']"
    ></app-validation-message>
    <app-validation-message
        [control]="registrationForm"
    ></app-validation-message>
  </div>
  <button
      type="submit"
      [disabled]="registrationForm.invalid"
  >Зарегистрироваться</button>
</form>
