<div class="popupContainer">
  <button class='btn-close' (click)="closePopupWindow.next()"></button>
  <Form class="popup_employee-form" [formGroup]="dataEditingForm" (ngSubmit)="save()">
    <div>
      <input class="popup_input" placeholder="Новый email" type="text" formControlName="newAdminEmail">
      <app-validation-message [control]="dataEditingForm.controls['newAdminEmail']"></app-validation-message>
    </div>
    <button appStyle [dStyles]="{borderColor:'#3B82F6', backgroundColor:'#3B82F6'}" class="popup-btn-save" type="submit"
      [disabled]="dataEditingForm.invalid">Сохранить</button>
  </Form>
</div>