<main class="employee-page_main">
  <div class="employee-page_container">
    <ul class="employee-page_left-side">
      <li class="employee-page_left-side_item employee-page_left-side_main-info">
        <div class="employee-page_left-side_main-info-leftside">
          <img class="employees-page_photo" src="../../assets/img/employee-page_main-info.png" alt="">
        </div>
        <div class="employee-page_left-side_main-info-rightside">
          <span class="employees-page_name">Макаров Артем <br> Владимирович</span>
          <div class="employee-page_left-side_main-info-rightside_phone">
            <img class="employees-page_phone" src="../../assets/img/icon-phone.svg" alt="">
            <span class="employees-page_phone-text">+7 953 670 56 33</span>
          </div>
          <div class="employee-page_left-side_main-info-rightside_email">
            <img class="employees-page_email" src="../../assets/img/icon-email.svg" alt="">
            <span class="employees-page_email-text">Makarov.Artem@gmail.com</span>
          </div>
        </div>
        <div class="employee-page_left-side_main-info-rightside_edit">
          <img class="employees-page_edit" src="../../assets/img/icon-edit.svg" alt="">
        </div>
      </li>
      <li class="employee-page_left-side_item employee-page_left-side_status">
        <span class="employee-page_status-item">
          <span class="employee-page_status_first_word"> Статус: </span> Работает
        </span>
        <span class="employee-page_status-item">
          <span class="employee-page_status_first_word">Проект:</span> Nopaper
        </span>
        <span class="employee-page_status-item">
          <span class="employee-page_status_first_word">Должность:</span> Младший разработчик
        </span>
        <span class="employee-page_status-item">
          <span class="employee-page_status_first_word">Заработная плата в месяц:</span> 65500р
        </span>
      </li>
      <li class="employee-page_left-side_item employee-page_left-side_addition-info">
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Пол: </span> Мужчина
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Образование: </span>
          Высшее
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Дата рождения: </span>
          21.01.2000
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Дата собеседования:
          </span> 01.09.2022
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Дата принятия на
            работу: </span> 12.09.2022
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Дата первого рабочего
            дня: </span> 13.09.2022
        </span>
        <span class="employee-page_add-text-item employee-page_add-text-vacations"><span
            class="employee-page_status_first_word employee-page_status_first_word-vacations"> Отпуски: </span>
          (12.02.2023-28.02.2023), <br> (01.04.2023-07.04.2023)
        </span>
      </li>
    </ul>
    <ul class="employee-page_right-side">
      <div class="employee-page_right-side_first-block">
        <li class="employee-page_right-side_first-block-project employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_project_text employee-page_right-side_text">Проект</span>
        </li>
        <li class="employee-page_right-side_first-block-post employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_post_text employee-page_right-side_text">Должность</span>
        </li>
        <li class="employee-page_right-side_first-block-salary employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_salary_text employee-page_right-side_text">Зарплата</span>
        </li>
        <li class="employee-page_right-side_first-block-date employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_date_text employee-page_right-side_text">Дата</span>
        </li>
      </div>
      <!-- <div class="employee-page_right-side_second-block">
        <li class="employee-page_right-side_second-block_item"> <span> Nopaper</span></li>
        <li class="employee-page_right-side_second-block_item"> <span> Стажер <br> Разработчик</span></li>
        <li class="employee-page_right-side_second-block_item"> <span>31200р</span></li>
        <li class="employee-page_right-side_second-block_item"> <span>12.09.2022</span></li>
        <li class="employee-page_right-side_second-block_item"><img src="../../assets/img/icon-edit.svg" alt=""></li>
      </div> -->
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
      <li class=""></li>
    </ul>
  </div>
</main>
