.employee-page_container {
  width: 900px;
  display: flex;
  justify-content: space-around;
  margin: 50px auto 102px auto;
}

.employee-page_left-side {
  margin: 0 10px 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.employee-page_left-side_item {
  margin: 0 auto 0 auto;
}

.employee-page_left-side_item:not(:last-child) {
  margin-bottom: 10px;
}

.employee-page_left-side_main-info {
  padding: 15px;
  width: 410px;
  height: 130px;
  background: var(--white-color);
  box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.employee-page_left-side_main-info-leftside {
  display: flex;
}

.employee-page_left-side_main-info-rightside {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.employees-page_photo {
  width: 130px;
  height: 130px;
}

.employees-page_name {
  width: 164px;
  height: 60px;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: var(--black-dark-color);
  margin-bottom: 10px;
}

.employee-page_left-side_main-info-rightside_phone {
  margin-bottom: 8px;
}

.employee-page_left-side_main-info-rightside_phone,
.employee-page_left-side_main-info-rightside_email {
  text-align: center;
  display: flex;
}

.employees-page_phone {
  text-align: center;
  width: 17.5px;
  height: 17.5px;
  margin-right: 6.75px;
}

.employees-page_phone-text {
  text-align: center;
  height: 21px;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-darker-color);
  cursor: pointer;
}

.employees-page_email {
  text-align: center;
  width: 17.5px;
  height: 20.5px;
  margin-right: 6.75px;
}

.employees-page_email-text {
  text-align: center;
  height: 21px;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-darker-color);
  cursor: pointer;
}

.employee-page_left-side_main-info-rightside_edit {
  display: flex;
}

.employees-page_edit {
  width: 16.67px;
  height: 16.67px;
  cursor: pointer;
}

.employee-page_left-side_status {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 410px;
  height: 110px;
  background: var(--white-color);
  box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 4px;
}

.employee-page_status-item:not(:last-child),
.employee-page_add-text-item:not(:last-child) {
  margin-bottom: 10px;
}

.employee-page_status-item,
.employee-page_add-text-item:not(:last-child) {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--gray-darker-color);
}

.employee-page_add-text-vacations {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-darker-color);
}

.employee-page_status_first_word {
  margin-right: 4px;
  color: var(--blue-dark-color);
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.employee-page_status_first_word-vacations {
  display: inline-flex;
}

.employee-page_add-edit {
  display: flex;
  justify-content: flex-end;
  width: 20px;
  height: 20px;
}

.employee-page_add-edit-icon {
  padding: 3.68px, 3.68px, 6.67px, 6.67px;
  cursor: pointer;
}

.employee-page_left-side_addition-info {
  width: 410px;
  height: 218px;
  background: var(--white-color);
  box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 4px;
  padding: 15px;
}

.employee-page_add-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employee-page_right-side {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 220px;
  background: var(--white-color);
  box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 4px;
}

.employee-page_right-side_first-block {
  display: flex;
  flex-direction: row;
  width: 450px;
  padding: 0 50px 0 10px;
}

.employee-page_right-side_first-block-item {
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.employee-page_right-side_first-block-project {
  margin-right: 10px;
  width: 100px;
}

.employee-page_right-side_first-block-post {
  margin-right: 10px;
  width: 100px;
}

.employee-page_right-side_first-block-salary {
  width: 80px;
}

.employee-page_right-side_first-block-date {
  width: 90px;
}

.employee-page_right-side_text {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-dark-color);
}

.employee-page_right-side_second-block {
  padding: 0 15px 0 10px;
  border-top: 1.5px solid #94A3B8;
}

.employee-page_right-side_third-block {
  padding: 0 15px 0 10px;
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #94A3B8;
}

.employee-page_right-side_second-block,
.employee-page_right-side_third-block {
  display: flex;
  flex-direction: row;
}

.employee-page_right-side_second-block_item,
.employee-page_right-side_third-block_item {
  display: flex;
  justify-content: center;
  height: 60px;
}

.employee-page_right-side_second-block_project,
.employee-page_right-side_third-block_project,
.employee-page_right-side_second-block_post,
.employee-page_right-side_third-block_post {
  width: 100px;
  margin-right: 10px;
}

.employee-page_right-side_second-block_salary,
.employee-page_right-side_third-block_salary {
  width: 80px;
}

.employee-page_right-side_second-block_date,
.employee-page_right-side_third-block_date {
  width: 90px;
  margin-right: 15px;
}

.employee-page_right-side_second-block_item-text,
.employee-page_right-side_third-block_item-text {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1E293B;
}

.employee-page_right-side_second-block_item-edit,
.employee-page_right-side_third-block_item-edit {
  display: flex;
  justify-content: center;
  width: 16.67px;
  height: 16.67px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

.employee-page_right-side_fourth-block {
  padding: 5px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  border-top: 1.5px solid #94A3B8;
}

.employee-page_right-side_fourth-block-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.employee-page_right-side_fourth-block-item:not(:last-child) {
  margin-right: 10px;
}

.employee-page_right-side_fourth-block-graphics {
  padding: 3.33px;
}

.employee-page_graphics_img {
  width: 33.33px;
  height: 33.33px;
  cursor: pointer;
}

.employee-page_btn {
  width: 185px;
  height: 40px;
  border-radius: 4px;
  color: var(--white-color);
  transition: background-color 0.1s linear, border-color 0.1s linear;
}

.employee-page_btn_fire {
  background-color: var(--red-light-color);
}

.employee-page_btn_add {
  background-color: var(--blue-sea-color);
}
