<ng-template #popupContainer></ng-template>
<main class="employee-page_main" *ngIf="employee; else loading">
  <div class="employee-page_container">
    <ul class="employee-page_left-side">
      <li class="employee-page_left-side_item employee-page_left-side_main-info">
        <div class="employee-page_left-side_main-info-leftside">
          <img class="employees-page_photo" src="../../assets/img/adding-incognito.png" alt="">
        </div>
        <div class="employee-page_left-side_main-info-rightside">
          <span class="employees-page_name">{{employee.surname}} {{employee.name}} <br>
            {{employee.patronymic}}</span>
          <div class="employee-page_left-side_main-info-rightside_phone">
            <img class="employees-page_phone" src="../../assets/img/icon-phone.svg" alt="">
            <span class="employees-page_phone-text">{{employee.phoneNumber}}</span>
          </div>
          <div class="employee-page_left-side_main-info-rightside_email">
            <img class="employees-page_email" src="../../assets/img/icon-email.svg" alt="">
            <span class="employees-page_email-text">{{employee.email}}</span>
          </div>
        </div>
        <div class="employee-page_left-side_main-info-rightside_edit">
          <button class="employees-page_edit" (click)="showFirstPopupWindow()"></button>
        </div>
      </li>
      <li class="employee-page_left-side_item employee-page_left-side_status">
        <span *ngIf="employee.status === 'work'; else dismissed"
              class="employee-page_status-item">
          <span class="employee-page_status_first_word"> Статус: </span> Работает
        </span>
        <ng-template #dismissed>
          <span class="employee-page_status-item">
            <span class="employee-page_status_first_word"> Статус: </span> Уволен
          </span>
        </ng-template>
        <span class="employee-page_status-item">
          <span class="employee-page_status_first_word">Проект:</span> {{employee.project}}
        </span>
        <span class="employee-page_status-item">
          <span class="employee-page_status_first_word">Должность:</span> {{employee.position}}
        </span>
        <span class="employee-page_status-item">
          <span class="employee-page_status_first_word">Заработная плата в месяц:</span> {{employee.salary}}р
        </span>
      </li>
      <li class="employee-page_left-side_item employee-page_left-side_addition-info">
        <div class="employee-page_add-text">
          <span *ngIf="employee.gender === 'man'; else woman" class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Пол: </span>
            Мужчина
          </span>
          <ng-template #woman>
            <span class="employee-page_add-text-item"><span class="employee-page_status_first_word"> Пол: </span>
            Женщина
          </span>
          </ng-template>
          <div class="employee-page_add-edit">
            <button class="employee-page_add-edit-icon" (click)="showSecondPopupWindow()"></button>
          </div>
        </div>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word">
          Образование: </span>
          {{employee.education}}
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word">
          Дата рождения:
          </span>
          {{employee.birthDate}}
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word">
          Дата собеседования:
          </span> {{employee.interviewDate}}
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word">
          Дата принятия на
            работу: </span> {{employee.employmentDate}}
        </span>
        <span class="employee-page_add-text-item"><span class="employee-page_status_first_word">
          Дата первого рабочего
            дня: </span> {{employee.firstWorkingDayDate}}
        </span>
        <span class="employee-page_add-text-item employee-page_add-text-vacations"><span
            class="employee-page_status_first_word employee-page_status_first_word-vacations"> Отпуски: </span>
          <span *ngFor="let vacationDate of employee.vacations">({{vacationDate}}),</span>
        </span>
      </li>
    </ul>
    <ul class="employee-page_right-side">
      <ul class="employee-page_right-side_first-block">
        <li class="employee-page_right-side_first-block-project employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_project_text employee-page_right-side_text">Проект</span>
        </li>
        <li class="employee-page_right-side_first-block-post employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_post_text employee-page_right-side_text">Должность</span>
        </li>
        <li class="employee-page_right-side_first-block-salary employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_salary_text employee-page_right-side_text">Зарплата</span>
        </li>
        <li class="employee-page_right-side_first-block-date employee-page_right-side_first-block-item">
          <span class="employee-page_right-side_date_text employee-page_right-side_text">Дата</span>
        </li>
      </ul>
      <ul *ngFor="let historyItem of employee.historyInCompany" class="employee-page_right-side_second-block">
        <li class="employee-page_right-side_second-block_item employee-page_right-side_second-block_project">
          <span class="employee-page_right-side_second-block_item-text">{{historyItem.project}}</span>
        </li>
        <li class="employee-page_right-side_second-block_item employee-page_right-side_second-block_post">
          <span class="employee-page_right-side_second-block_item-text">{{historyItem.position}}</span>
        </li>
        <li class="employee-page_right-side_second-block_item employee-page_right-side_second-block_salary">
          <span class="employee-page_right-side_second-block_item-text">{{historyItem.salary}}р</span>
        </li>
        <li class="employee-page_right-side_second-block_item employee-page_right-side_second-block_date">
          <span class="employee-page_right-side_second-block_item-text">{{historyItem.date}}</span>
        </li>
        <li class="employee-page_right-side_second-block_edit">
          <button class="employee-page_right-side_second-block_item-edit"></button>
        </li>
      </ul>
      <ul *ngIf="employee.status === 'work'; else dismissedButton" class="employee-page_right-side_fourth-block">
        <li class="employee-page_right-side_fourth-block-item employee-page_right-side_fourth-block-graphics">
          <img class="employee-page_graphics_img" src="../../assets/img/icon_graphics.svg" alt="">
        </li>
        <li class="employee-page_right-side_fourth-block-item employee-page_right-side_fourth-block-btn">
          <button appStyle [dStyles]="{borderColor:'#EF4444', backgroundColor:'#EF4444'}"
            class="employee-page_btn employee-page_btn_fire" (click)="setDismissedStatus()"> Уволен </button>
        </li>
        <li class="employee-page_right-side_fourth-block-item employee-page_right-side_fourth-block-btn">
          <button appStyle [dStyles]="{borderColor:'#3B82F6', backgroundColor:'#3B82F6'}"
            class="employee-page_btn employee-page_btn_add" (click)="showAddCompanyHistoryPopupWindow()"> Добавить </button>
        </li>
      </ul>
      <ng-template #dismissedButton>
        <ul class="employee-page_right-side_fourth-block">
          <li class="employee-page_right-side_fourth-block-item employee-page_right-side_fourth-block-graphics">
            <img class="employee-page_graphics_img" src="../../assets/img/icon_graphics.svg" alt="">
          </li>
          <li class="employee-page_right-side_fourth-block-item employee-page_right-side_fourth-block-btn">
            <button appStyle [dStyles]="{borderColor:'#3B82F6', backgroundColor:'#3B82F6'}"
                    class="employee-page_btn employee-page_btn_add" (click)="restoreEmployee()"> Востановить </button>
          </li>
        </ul>
      </ng-template>
    </ul>
  </div>
</main>
<ng-template #loading>
  загрузка
</ng-template>
