<div class="popupContainer">
  <button class='btn-close' (click)="closePopupWindow.next()"></button>
  <form class="popup_employee-form" *ngIf="optionsGroups" [formGroup]="refactorCompanyHistoryForm" (ngSubmit)="save()">
    <input class="popup_input" type="text" list="project" placeholder="Проект" formControlName="project" />
    <app-validation-message [control]="refactorCompanyHistoryForm.controls['project']"></app-validation-message>
    <datalist id="project">
      <ng-container *ngFor="let option of optionsGroups[0].options">
        <option *ngIf="option" [value]="option">{{option}}</option>
      </ng-container>
    </datalist>

    <input class="popup_input" type="text" list="position" placeholder="Должность" formControlName="position" />
    <app-validation-message [control]="refactorCompanyHistoryForm.controls['position']"></app-validation-message>
    <datalist id="position">
      <ng-container *ngFor="let option of optionsGroups[1].options">
        <option *ngIf="option" [value]="option">{{option}}</option>
      </ng-container>
    </datalist>

    <input class="popup_input" type="number" formControlName="salary">
    <app-validation-message [control]="refactorCompanyHistoryForm.controls['salary']"></app-validation-message>
    <input class="popup_employee-element" type="date" formControlName="date">
    <app-validation-message [control]="refactorCompanyHistoryForm.controls['date']"></app-validation-message>
    <button appStyle [dStyles]="{borderColor:'#3B82F6', backgroundColor:'#3B82F6'}" class="popup-btn-save" type="submit"
      [disabled]="refactorCompanyHistoryForm.invalid">Сохранить</button>
    <button appStyle [dStyles]="{borderColor:'#EF4444', backgroundColor:'#EF4444'}" class="popup-btn-delete"
      (click)="delete()">Удалить</button>
  </form>

</div>
