<main class="main">
  <div class="employee-added-page_container">
    <h2 class="employee-added-page_employees-text">
      Данные от аккаунта, добавленного сотрудника
    </h2>
    <div class="employee-added-page-form">
      <div class="employee-added-page-form-container">
        <div>
          <ul class="employee-added-page-list">
            <li class="employee-added-page-item employee-added-page-email"><span class="employee-added-page-text">Email:
                <span class="employee-added-page-text-second">Makarov.Artem@gmail.com</span></span></li>
            <li class="employee-added-page-item employee-added-page-password"><span
                class="employee-added-page-text">Временный пароль: <span
                  class="employee-added-page-text-second">11345490</span></span></li>
            <button class="employee-added-page-btn">Готово</button>
          </ul>
        </div>
      </div>
      <div class="employee-added-page-copy-block">
        <span class="employee-added-page-copy-text">Копировать</span>
        <span class="employee-added-page-copy-text">Копировать</span>
      </div>
    </div>
  </div>
</main>
