.header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-container {
  padding: 22px 191px 23px 168px;
  background: var(--white-color);
  margin-bottom: 28px;
  box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
}

@media (max-width: 1537px) {
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-line {
  max-width: 1178px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.header-right-container {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.header-name {
  color: var(--black-dark-color);
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  min-width: 280px;
}
