<main class="main">
  <div class="adding-employee-page_container">
    <h2 class="adding-employee-page_employees-text">
      Добавление нового сотрудника
    </h2>
    <form class="adding-employee-page-form" [formGroup]="newEmployeeForm" (ngSubmit)="addEmployee()">
      <div class="adding-employee-page-form-container">
        <div class="adding-employee-page-first-list-photo">
          <img class="adding-employee-page-first-list-img" src="../../assets/img/adding-incognito.png" alt="">
        </div>
        <div class="adding-employee-page-first-list">
          <ul class="adding-employee-page-block-first">
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-name">
              <input class="adding-employee-page-input adding-employee-page-name" placeholder="Имя" type="text" name=""
                id="name" formControlName="name">
            </li>
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-surname">
              <input class="adding-employee-page-input adding-employee-page-surname" placeholder="Отчество" type="text"
                name="surname" id="" formControlName="surname">
            </li>
          </ul>
          <ul class="adding-employee-page-block-second">
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-family-name">
              <input class="adding-employee-page-input adding-employee-page-family-name" placeholder="Фамилия"
                type="text" name="lastname" id="" formControlName="lastname">
            </li>
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-sex">
              <select class="adding-employee-page_select-style">
                <option value="man">Мужчина</option>
                <option value="woman">Женщина</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <div class="adding-employee-page-second-third-container">
        <ul class="adding-employee-page-second-list">
          <li class="adding-employee-page-second-list-item">
            <input class="adding-employee-page-input adding-employee-page-email"
              placeholder="Email (будет использоватся для авторизации)" type="text" name="email" id=""
              formControlName="email">
          </li>
          <li class="adding-employee-page-second-list-item">
            <input class="adding-employee-page-input adding-employee-page-project" type="text" list="project"
              placeholder="Проект" />
            <datalist id="project">
              <option *ngFor="let option of optionsGroup[0].options" [value]="option">{{option}}</option>
            </datalist>
          </li>
          <li class="adding-employee-page-second-list-item">
            <input appAttribute class="adding-employee-page-input adding-employee-page-salary" placeholder="Зарплата"
              type="text" name="salary" id="" formControlName="salary">
          </li>
          <li class="adding-employee-page-second-list-item">
            <input appAttribute class="adding-employee-page-input-date adding-employee-page-birthday"
              placeholder="Дата рождения: &nbsp;" type="date" name="dateOfBirth" id="" formControlName="dateOfBirth">
          </li>
          <li class="adding-employee-page-second-list-item">
            <input appAttribute class="adding-employee-page-input-date adding-employee-page-date"
              placeholder="Дата принятия на работу: &nbsp;" type="date" name="dateOfEmployment" id=""
              formControlName="dateOfEmployment">
          </li>
        </ul>
        <ul class="adding-employee-page-third-list">
          <li class="adding-employee-page-third-list-item">
            <input class="adding-employee-page-input adding-employee-page-phone" placeholder="Телефон" type="tel"
              name="phoneNumber" id="" formControlName="phoneNumber">
          </li>
          <li class="adding-employee-page-third-list-item">
            <input class="adding-employee-page-input adding-employee-page-post" type="text" list="status"
              placeholder="Должность" />
            <datalist id="status">
              <option *ngFor="let option of optionsGroup[1].options" [value]="option">{{option}}</option>
            </datalist>
          </li>
          <li class="adding-employee-page-third-list-item">
            <input class="adding-employee-page-input adding-employee-page-education" placeholder="Образование"
              type="text" list="education" />
            <datalist id="education">
              <option *ngFor="let option of optionsGroup[2].options" [value]="option">{{option}}</option>
            </datalist>
          </li>
          <li class="adding-employee-page-third-list-item">
            <input appAttribute class="adding-employee-page-input-date adding-employee-page-date-interview"
              placeholder="Дата собеседования: &nbsp;" type="date" name="dateOfInterview" id=""
              formControlName="dateOfInterview">
          </li>
          <li class="adding-employee-page-third-list-item">
            <input appAttribute class="adding-employee-page-input-date adding-employee-page-date-first-day"
              placeholder="Дата первого рабочего дня: &nbsp;" type="date" name="dateOfThirstWorkingDay" id=""
              formControlName="dateOfThirstWorkingDay">
          </li>
        </ul>
      </div>
      <button appStyle class="adding-employee-page-btn-add" type="submit">Добавить</button>
    </form>
  </div>
</main>
