<main class="main" *ngIf="optionsGroups; else loading">
  <div class="adding-employee-page_container">
    <h2 class="adding-employee-page_employees-text">
      Добавление нового сотрудника
    </h2>
    <form class="adding-employee-page-form" [formGroup]="newEmployeeForm" (ngSubmit)="addEmployee()">
      <div class="adding-employee-page-form-container">
        <div class="adding-employee-page-first-list-photo">
          <img class="adding-employee-page-first-list-img" src="../../assets/img/adding-incognito.png" alt="">
        </div>
        <div class="adding-employee-page-first-list">
          <ul class="adding-employee-page-block-first">
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-name">
              <input class="adding-employee-page-input adding-employee-page-name" placeholder="Имя" type="text" name=""
                id="name" formControlName="name">
            </li>
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-surname">
              <input class="adding-employee-page-input adding-employee-page-surname" placeholder="Отчество" type="text"
                name="surname" formControlName="surname">
            </li>
          </ul>
          <ul class="adding-employee-page-block-second">
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-family-name">
              <input class="adding-employee-page-input adding-employee-page-family-name" placeholder="Фамилия"
                type="text" name="lastname" formControlName="lastname">
            </li>
            <li class="adding-employee-page-first-list-item adding-employee-page-first-list-sex">
              <select class="adding-employee-page_select-style" formControlName="gender">
                <option value="man" >Мужчина</option>
                <option value="woman">Женщина</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <div class="adding-employee-page-second-third-container">
        <ul class="adding-employee-page-second-list">
          <li class="adding-employee-page-second-list-item">
            <input class="adding-employee-page-input adding-employee-page-email"
              placeholder="Email (будет использоватся для авторизации)" type="email" name="email"
              formControlName="email">
          </li>
          <li class="adding-employee-page-second-list-item">
            <input class="adding-employee-page-input adding-employee-page-project" type="text" list="project"
              placeholder="Проект" formControlName="project"/>
              <datalist id="project">
                <ng-container *ngFor="let option of optionsGroups[0].options">
                  <option *ngIf="option" [value]="option">{{option}}</option>
                </ng-container>
              </datalist>
          </li>
          <li class="adding-employee-page-second-list-item">
            <input appAttribute class="adding-employee-page-input adding-employee-page-salary" placeholder="Зарплата"
              type="number" name="salary" formControlName="salary">
          </li>
          <li class="adding-employee-page-second-list-item">
            <input appAttribute="#1E293B" class="adding-employee-page-input-date adding-employee-page-birthday"
              placeholder="Дата рождения: &nbsp;" type="date" name="dateOfBirth" formControlName="dateOfBirth">
          </li>
          <li class="adding-employee-page-second-list-item">
            <input appAttribute="#1E293B" class="adding-employee-page-input-date adding-employee-page-date"
              placeholder="Дата принятия на работу: &nbsp;" type="date" name="dateOfEmployment"
              formControlName="dateOfEmployment">
          </li>
        </ul>
        <ul class="adding-employee-page-third-list">
          <li class="adding-employee-page-third-list-item">
            <input class="adding-employee-page-input adding-employee-page-phone" placeholder="Телефон" type="tel"
              name="phoneNumber" formControlName="phoneNumber">
          </li>
          <li class="adding-employee-page-third-list-item">
            <input class="adding-employee-page-input adding-employee-page-post" type="text" list="status"
              placeholder="Должность" formControlName="position"/>
            <datalist id="status">
              <ng-container *ngFor="let option of optionsGroups[1].options">
                <option *ngIf="option" [value]="option">{{option}}</option>
              </ng-container>
            </datalist>
          </li>
          <li class="adding-employee-page-third-list-item">
            <input class="adding-employee-page-input adding-employee-page-education" placeholder="Образование"
              type="text" list="education" formControlName="education"/>
            <datalist id="education">
              <ng-container *ngFor="let option of optionsGroups[2].options">
                <option *ngIf="option" [value]="option">{{option}}</option>
              </ng-container>
            </datalist>
          </li>
          <li class="adding-employee-page-third-list-item">
            <input appAttribute="#1E293B" class="adding-employee-page-input-date adding-employee-page-date-interview"
              placeholder="Дата собеседования: &nbsp;" type="date" name="dateOfInterview"
              formControlName="dateOfInterview">
          </li>
          <li class="adding-employee-page-third-list-item">
            <input appAttribute="#1E293B" class="adding-employee-page-input-date adding-employee-page-date-first-day"
              placeholder="Дата первого рабочего дня: &nbsp;" type="date" name="dateOfThirstWorkingDay"
              formControlName="dateOfThirstWorkingDay">
          </li>
        </ul>
      </div>
      <button appStyle [dStyles]="{borderColor:'#3B82F6', backgroundColor:'#3B82F6'}" class="adding-employee-page-btn-add" type="submit">Добавить</button>
    </form>
  </div>
</main>
<ng-template #loading></ng-template>
