<main class="main">
  <div class="container">
    <h2 class="employees-text">
    </h2>
    <div class="main-info">
      <div class="main-left">
        <app-filtration-form (filteringParametersAreSetEvent)="take($event)"></app-filtration-form>
      </div>
      <div class="main-right">
        <div class="middle-panel">
          <button appStyle [dStyles]="{borderColor:'#3B82F6', backgroundColor:'#3B82F6'}" class="btn btn-add"
            (click)="router.navigate(['/admin', 'adding-employee'])">Добавить
            сотрудника</button>
          <div class="search-form">
            <input class="search-panel" placeholder="Поиск" type="text" [(ngModel)]="searchParameter">
            <svg class="search-svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.25 0.5C10.9779 0.5 14 3.52208 14 7.25C14 8.84358 13.4478 10.3082 12.5242 11.4629L15.2803 14.2197C15.5732 14.5126 15.5732 14.9874 15.2803 15.2803C15.01 15.5507 14.5845 15.5715 14.2903 15.3427L14.2197 15.2803L11.4629 12.5242C10.3082 13.4478 8.84358 14 7.25 14C3.52208 14 0.5 10.9779 0.5 7.25C0.5 3.52208 3.52208 0.5 7.25 0.5ZM7.25 2C4.35051 2 2 4.35051 2 7.25C2 10.1495 4.35051 12.5 7.25 12.5C10.1495 12.5 12.5 10.1495 12.5 7.25C12.5 4.35051 10.1495 2 7.25 2Z"
                fill="#64748B" />
            </svg>
          </div>
          <div class="burger-container">
            <div class="sort-panel"><a class="sort-panel-click">Сортировка по:
                <select appAttribute="#3B82F6" class="sort_param" [(ngModel)]="sortingParameter">
                  <option class="sort_element" value="alphabet">Алфавиту</option>
                  <option class="sort_element" value="salaryAscending" selected>Зарплате ▲</option>
                  <option class="sort_element" value="salaryDescending">Зарплате ▼</option>
                  <option class="sort_element" value="experienceAscending">Стажу ▲</option>
                  <option class="sort_element" value="experienceDescending" selected>Стажу ▼</option>
                  <option class="sort_element" value="ageAscending">Возрасту ▲</option>
                  <option class="sort_element" value="ageDescending">Возрасту ▼</option>
                </select>
              </a>
            </div>
          </div>
        </div>
        <div class="employess-info">
          <ul class="employees-list">
            <div *ngIf="employees; else loading">
              <app-employee-list-item *ngFor="let employee of employees
                  | filtrationEmployees:filtrationParameters
                  | sortingEmployees:sortingParameter
                  | searchEmployees:searchParameter" [employee]="employee"></app-employee-list-item>
            </div>
            <ng-template #loading>
              <ngx-skeleton-loader [theme]="{height: '100px', background: '#ebebec'}" count="{{totalCount}}"
                appearance="line"></ngx-skeleton-loader>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- <footer class="footer">
  <div class="footer-container">
    <ul class="footer-list">
      <a href="#">
        <li class="footer-item footer-svg">
          <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.62347 12.0087C9.12618 12.4649 9.12618 13.2022 8.62347 13.6584C8.12076 14.1145 7.3082 14.1145 6.8055 13.6584L0.37703 7.82508C-0.125677 7.36891 -0.125677 6.63159 0.37703 6.17542L6.8055 0.342123C7.3082 -0.114041 8.12076 -0.114041 8.62347 0.342123C9.12618 0.798287 9.12618 1.53562 8.62347 1.99178L3.10399 7.00025L8.62347 12.0087Z"
              fill="#475569" />
          </svg>
        </li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit footer-item2"><span>1</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit"><span class="footer-item_text">2</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit"><span class="footer-item_text">3</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item"><span class="footer-item_text">...</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit"><span class="footer-item_text">6</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item">
          <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0.37653 1.99128C-0.126176 1.53512 -0.126176 0.797787 0.37653 0.341623C0.879237 -0.11454 1.6918 -0.11454 2.1945 0.341623L8.62297 6.17492C9.12568 6.63109 9.12568 7.36841 8.62297 7.82458L2.1945 13.6579C1.6918 14.114 0.879237 14.114 0.37653 13.6579C-0.126176 13.2017 -0.126176 12.4644 0.37653 12.0082L5.89601 6.99975L0.37653 1.99128Z"
              fill="#475569" />
          </svg>
        </li>
      </a>
    </ul>
  </div>
</footer> -->
