<main class="main">
  <div class="container">
    <h2 class="employees-text">
      Artsofte 54 сотрудника
    </h2>
    <div class="main-info">
      <div class="main-left">
        <app-filtration-form [employeesInformation$]="employeesInformation$"
            (filteringParametersAreSetEvent)="take($event)"></app-filtration-form>
        <!-- <div class="filter-container">
          <ul class="info_accordion">
            <li class="info_list-tab">
              <input type="checkbox" id="tab1">
              <Label for="tab1" class="tab-title list-item_status panel_list-item_text">Статус</Label>
            </li>
            <li class="info_list-tab">
              <input type="checkbox" id="tab2">
              <Label for="tab2" class="tab-title list-project panel_list-item_text">Проект</Label>
              <ul class="tab-project_content tab-content">
                <li class="tab-project_content_item">
                  <input type="checkbox" id="name1">
                  <Label for="name1" class="name_of_project">Abanking</Label>
                </li>
                <li class="tab-project_content_item">
                  <input type="checkbox" id="name2">
                  <Label for="name2" class="name_of_project">Nopaper</Label>
                </li>
                <li class="tab-project_content_item">
                  <input type="checkbox" id="name3">
                  <Label for="name3" class="project_tradedealer name_of_project">TradeDealer</Label>
                </li>
              </ul>
            </li>
            <li class="info_list-tab">
              <input type="checkbox" id="tab3">
              <Label for="tab3" class="tab-title list-item_post panel_list-item_text">Должность</Label>
            </li>
            <li class="info_list-tab">
              <input type="checkbox" id="tab4">
              <Label for="tab4" class="tab-title list-item_salary panel_list-item_text">Зарплата</Label>
            </li>
            <li class="info_list-tab">
              <input type="checkbox" id="tab5">
              <Label for="tab5" class="tab-title list-item_education panel_list-item_text">Образование</Label>
            </li>
            <li class="info_list-tab">
              <input type="checkbox" id="tab6">
              <Label for="tab6" class="tab-title list-item_exp panel_list-item_text">Стаж</Label>
              <ul class="tab-exp_content tab-content">
                <input class="tab-text_from" type="text" placeholder="От">
                <input class="tab-text_to" type="text" placeholder="До">
              </ul>
            </li>
            <li class="info_list-tab">
              <input type="checkbox" id="tab7">
              <Label for="tab7" class="tab-title list-item_sex panel_list-item_text">Пол</Label>
            </li>
            <li class="info_list-tab">
              <input type="checkbox" id="tab8">
              <Label for="tab8" class="tab-title list-item_age panel_list-item_text">Возраст</Label>
            </li>
          </ul>
          <ul class="configuration-list">
            <li class="save-item">
              <button class="btn btn-save">Применить</button>
            </li>
            <li class="reset-item">
              <button class="btn btn-reset">Сбросить</button>
            </li>
          </ul>
        </div> -->
      </div>
      <div class="main-right">
        <div class="middle-panel">
          <button class="btn btn-add" (click)="router.navigate(['/admin', 'adding-employee'])">Добавить
            сотрудника</button>
          <div class="search-form">
            <input class="search-panel" placeholder="Поиск" type="text" [(ngModel)]="searchParameter">
            <svg class="search-svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill="#64748B" fill-rule="evenodd" clip-rule="evenodd"
                d="M7.25 0.5C10.9779 0.5 14 3.52208 14 7.25C14 8.84358 13.4478 10.3082 12.5242 11.4629L15.2803 14.2197C15.5732 14.5126 15.5732 14.9874 15.2803 15.2803C15.01 15.5507 14.5845 15.5715 14.2903 15.3427L14.2197 15.2803L11.4629 12.5242C10.3082 13.4478 8.84358 14 7.25 14C3.52208 14 0.5 10.9779 0.5 7.25C0.5 3.52208 3.52208 0.5 7.25 0.5ZM7.25 2C4.35051 2 2 4.35051 2 7.25C2 10.1495 4.35051 12.5 7.25 12.5C10.1495 12.5 12.5 10.1495 12.5 7.25C12.5 4.35051 10.1495 2 7.25 2Z"
                fill="#64748B" />
            </svg>
          </div>
          <div class="burger-container">
            <div class="sort-panel"><a [routerLink]="['/admin']">Сортировка по:
                <span class="sort_panel_salary">
                  Зарплате ▲
                </span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu_item">
                  <input type="checkbox" id="alph">
                  <label for="alph" class="sort-item_text">
                    Алфавиту
                  </label>
                </li>
                <li class="dropdown-menu_item">
                  <input type="checkbox" id="salary-up">
                  <label for="salary-up" class="sort-item_text">
                    Зарплате ▲
                  </label>
                </li>
                <li class="dropdown-menu_item">
                  <input type="checkbox" id="salary-down">
                  <label for="salary-down" class="sort-item_text">
                    Зарплате ▼
                  </label>
                </li>
                <li class="dropdown-menu_item">
                  <input type="checkbox" id="exp-up">
                  <label for="exp-up" class="sort-item_text">
                    Стажу ▲
                  </label>
                </li>
                <li class="dropdown-menu_item">
                  <input type="checkbox" id="exp-down">
                  <label for="exp-down" class="sort-item_text">
                    Стажу ▼
                  </label>
                </li>
                <li class="dropdown-menu_item">
                  <input type="checkbox" id="age-up">
                  <label for="age-up" class="sort-item_text">
                    Возрасту ▲
                  </label>
                </li>
                <li class="dropdown-menu_item">
                  <input type="checkbox" id="age-down">
                  <label for="age-down" class="sort-item_text">
                    Возрасту ▼
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <select [(ngModel)]="sortingParameter">
          <option value="alphabet">По алфавиту</option>
          <option value="salaryAscending" selected>Зарплате ▲</option>
          <option value="salaryDescending">Зарплате ▼</option>
          <option value="experienceAscending">Стажу ▲</option>
          <option value="experienceDescending" selected>Стажу ▼</option>
          <option value="ageAscending">Возрасту ▲</option>
          <option value="ageDescending">Возрасту ▼</option>
        </select>
        <div class="employess-info">
          <ul class="employees-list">
            <ng-template #loading>...Загрузка</ng-template>
            <div *ngIf="employees; else loading">
              <app-employee-list-item
                  *ngFor="let employee of employees
                  | filtrationEmployees:filtrationParameters
                  | sortingEmployees:sortingParameter
                  | searchEmployees:searchParameter"
                [employee]="employee"></app-employee-list-item>
            </div>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_1.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Семенова Софья <br> Андреевна</h3>
                <span class="employees-status status-work">Работает с 07.11.2022</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">Abanking</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Младший дизайнер</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">43700р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic yellow-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#EAB308" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#EAB308" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          6 месяцев квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_2.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Иванчук Сергей <br> Михайлович</h3>
                <span class="employees-status status-fired">Уволен 03.03.2023</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">Nopaper</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Младший разработчик</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">64000р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic gray-graphic" width="26" height="26" viewBox="0 0 26 26" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill="#94A3B8" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#94A3B8" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Нет данных о недавнем прохождении
                          квалификации.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_3.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Макаров Артем <br> Владимирович</h3>
                <span class="employees-status status-work">Работает с 12.09.2022</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">Nopaper</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Младший разработчик</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">65500р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic yellow-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#EAB308" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#EAB308" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          6 месяцев квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_4.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Новикова Ирина <br> Сергеевна</h3>
                <span class="employees-status status-vacation">В отпуске до 01.05.2023</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">Nopaper</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Разработчик</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">114900р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic green-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#22C55E" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#22C55E" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          3 месяца квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_5.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Иванов Алексей <br> Александрович</h3>
                <span class="employees-status status-work">Работает с 15.03.2022</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">TradeDealer</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Дизайнер</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">115900р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic green-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#22C55E" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#22C55E" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          3 месяца квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_6.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Иванчук Николь <br> Яновна</h3>
                <span class="employees-status status-work">Работает с 09.05.2022</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">TradeDealer</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Разработчик</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">123000р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic yellow-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#EAB308" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#EAB308" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          6 месяцев квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_7.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Лебедев Артур <br> Павлович</h3>
                <span class="employees-status status-work">Работает с 23.01.2022</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">Abanking</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Разработчик</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">127300р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic red-graphic" width="26" height="26" viewBox="0 0 26 26" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill="#EF4444" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#EF4444" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          12 месяцев квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_8.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Козлов Виктор <br> Артурович</h3>
                <span class="employees-status status-work">Работает с 27.06.2022</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">Nopaper</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Разработчик</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">141000р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic green-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#22C55E" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#22C55E" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          3 месяца квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_9.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Макаров Артем <br> Владимирович</h3>
                <span class="employees-status status-work">Работает с 17.11.2020</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">Nopaper</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Старший разработчик</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">195000р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic green-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#22C55E" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#22C55E" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          3 месяца квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="employees-item">
              <img class="employees-photo"
                src="../../assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall_10.png" alt="">
              <div class="name_with_status">
                <h3 class="employees-name">Смирнов Николай <br> Валерьевич</h3>
                <span class="employees-status status-work">Работает с 02.04.2021</span>
              </div>
              <div class="name-project_with_project">
                <span class="employess-project-name">TradeDealer</span>
                <span class="employess-project">Проект</span>
              </div>
              <div class="name-profession_with_profession">
                <span class="employess-profession-name">Управляющий отделом</span>
                <span class="employess-profession">Должность</span>
              </div>
              <div class="salary-value_with_salary">
                <span class="employess-salary-value">268000р</span>
                <span class="employess-salary">Зарплата</span>
              </div>
              <div class="employess-settings">
                <div class="employess-graphic_module">
                  <div class="graphic-click">
                    <a href="" onclick="return false;">
                      <svg class="employess-graphic yellow-graphic" width="26" height="26" viewBox="0 0 26 26"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#EAB308" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.75 0.5C23.8211 0.5 25.5 2.17893 25.5 4.25V21.75C25.5 23.8211 23.8211 25.5 21.75 25.5H4.25C2.17893 25.5 0.5 23.8211 0.5 21.75V4.25C0.5 2.17893 2.17893 0.5 4.25 0.5H21.75ZM21.75 3H4.25C3.55964 3 3 3.55964 3 4.25V21.75C3 22.4404 3.55964 23 4.25 23H21.75C22.4404 23 23 22.4404 23 21.75V4.25C23 3.55964 22.4404 3 21.75 3ZM8 15.5C8.69036 15.5 9.25 16.0596 9.25 16.75V19.25C9.25 19.9404 8.69036 20.5 8 20.5C7.30964 20.5 6.75 19.9404 6.75 19.25V16.75C6.75 16.0596 7.30964 15.5 8 15.5ZM13 5.5C13.6904 5.5 14.25 6.05964 14.25 6.75V19.25C14.25 19.9404 13.6904 20.5 13 20.5C12.3096 20.5 11.75 19.9404 11.75 19.25V6.75C11.75 6.05964 12.3096 5.5 13 5.5ZM18 10.5C18.6904 10.5 19.25 11.0596 19.25 11.75V19.25C19.25 19.9404 18.6904 20.5 18 20.5C17.3096 20.5 16.75 19.9404 16.75 19.25V11.75C16.75 11.0596 17.3096 10.5 18 10.5Z"
                          fill="#EAB308" />
                      </svg>
                      <div class="info_about_qualif">
                        <span class="info_qualif_text">Сотрудник проходил за последние <br>
                          6 месяцев квалификацию.</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="employess-settings_module">
                  <div class="settings-click">
                    <a href="" onclick="return false;">
                      <svg width="6" height="24" viewBox="0 0 6 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
                          d="M3 18.25C4.38071 18.25 5.5 19.3693 5.5 20.75C5.5 22.1307 4.38071 23.25 3 23.25C1.61929 23.25 0.5 22.1307 0.5 20.75C0.5 19.3693 1.61929 18.25 3 18.25ZM3 9.5C4.38071 9.5 5.5 10.6193 5.5 12C5.5 13.3807 4.38071 14.5 3 14.5C1.61929 14.5 0.5 13.3807 0.5 12C0.5 10.6193 1.61929 9.5 3 9.5ZM3 0.75C4.38071 0.75 5.5 1.86929 5.5 3.25C5.5 4.63071 4.38071 5.75 3 5.75C1.61929 5.75 0.5 4.63071 0.5 3.25C0.5 1.86929 1.61929 0.75 3 0.75Z"
                          fill="#475569" />
                      </svg>
                      <ul class="settings-list_click">
                        <li class="settings-item_click">Повышен</li>
                        <li class="settings-item_click">Уволен</li>
                        <li class="settings-item_click employee_delete">Удалить</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="footer-container">
    <ul class="footer-list">
      <a href="#">
        <li class="footer-item footer-svg">
          <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
              d="M8.62347 12.0087C9.12618 12.4649 9.12618 13.2022 8.62347 13.6584C8.12076 14.1145 7.3082 14.1145 6.8055 13.6584L0.37703 7.82508C-0.125677 7.36891 -0.125677 6.63159 0.37703 6.17542L6.8055 0.342123C7.3082 -0.114041 8.12076 -0.114041 8.62347 0.342123C9.12618 0.798287 9.12618 1.53562 8.62347 1.99178L3.10399 7.00025L8.62347 12.0087Z"
              fill="#475569" />
          </svg>
        </li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit footer-item2"><span>1</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit"><span class="footer-item_text">2</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit"><span class="footer-item_text">3</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item"><span class="footer-item_text">...</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item footer-digit"><span class="footer-item_text">6</span></li>
      </a>
      <a href="#" class="footer-link">
        <li class="footer-item">
          <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#475569" fill-rule="evenodd" clip-rule="evenodd"
              d="M0.37653 1.99128C-0.126176 1.53512 -0.126176 0.797787 0.37653 0.341623C0.879237 -0.11454 1.6918 -0.11454 2.1945 0.341623L8.62297 6.17492C9.12568 6.63109 9.12568 7.36841 8.62297 7.82458L2.1945 13.6579C1.6918 14.114 0.879237 14.114 0.37653 13.6579C-0.126176 13.2017 -0.126176 12.4644 0.37653 12.0082L5.89601 6.99975L0.37653 1.99128Z"
              fill="#475569" />
          </svg>
        </li>
      </a>
    </ul>
  </div>
</footer>
